.seatsRoom {
  width: 80%;
  margin: 0 auto;
}

.seats-room-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.seats-room-title {
  color: red;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 40px;
  text-align: center;
}

.screen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.screen {
  height: 10px;
  border: 2px solid rgb(156, 145, 145);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: rgb(156, 145, 145);
  width: 500px;
}

.seats {
  margin-top: 30px;
}

.seat-btn {
  display: inline-block;
  width: 40px;
  height: 30px;
  border: none;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-left: 4px;
  margin-right: -2px;
  background: rgb(38, 194, 129);
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  position: relative;
  z-index: 11111;
}

.one-seat {
  /* display: inline-block;
  width: 20px;
  height: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-left: 4px;
  margin-right: -2px;
  background: rgb(38, 194, 129);
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  position: relative;
  z-index: 11111; */
}

.seat-btn.select {
  background: red;
}

.seat-btn.seatOcupid {
  background-color: gray;
}
/* .one-seat.select {
  background: red;
}

.one-seat.seatOcupid {
  background-color: gray;
} */

.pop-container {
  display: block;
  border: 3px solid black;
  position: absolute;
  top: -65px;
  right: -70%;
  width: 80px;
  background-color: white;
  font-weight: bold;
  text-align: center;
  padding: 10px 10px;
  border-radius: 15px;
}

.row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.seats-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.status-seat {
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.status-seat-container {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
}

.seat-color-status {
  height: 5px;
  width: 5px;
  border: 3px solid;
}

.seat-color-status.clearing {
  color: green;
  background-color: green;
}

.seat-color-status.selected {
  color: red;
  background-color: red;
}

.seat-color-status.catch {
  color: gray;
  background-color: gray;
}

.next-btn {
  margin-top: 8px;
  background-color: #ffc500 !important;
  color: #100839;
  font-weight: bold;
  font-size: 18px;
  background-image: none;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 5px 100px;
  cursor: pointer;
}

.next-sub-text {
  font-size: 14px;
  opacity: 0.8;
  font-weight: 600;
  letter-spacing: 1px;
}
